name: Build and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Publish
        run: dotnet publish -c Release -r win-x64 --self-contained true /p:PublishSingleFile=true

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: ConversionApp
          path: bin/Release/net8.0/win-x64/publish/*.exe

  release:
    needs: build
    runs-on: windows-latest
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v3
        with:
          name: ConversionApp
          path: ./release

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: ./release/*.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
